.bannerDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.bannerDetails h1,
p {
  margin: 0px;
  padding: 0px;
}

.logotext {
  color: #0077ff;
}

.bannerDetails h1 {
  color: #252525;
  font-size: clamp(28px, 4vw, 64px);
}

.bannerDetails p {
  color: #252525;
  font-size: clamp(16px, 3vw, 24px);
}

.hero {
  background-color: white;
}

.banner {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #9ae3f0;
}

.col-2 {
  flex-basis: 50%;
}

.bannerImg {
  width: 100%;
}

.exploreNow {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #0077ff;
  border: none;
  outline: none;
  color: white;
  transition: all;
}

.exploreNow:hover {
  background-color: #034fa7;
  transition: 0.5s;
}

@media (max-width: 720px) {
  .banner {
    flex-direction: column-reverse;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.featured {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  background: #edf4f6;
}

hr{
  border: none;
  height: 0.5px;
  background: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}

.heading{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: clamp(28px, 4vw, 36px);
  color: #0077ff;
}

.productCorousel {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}

/* .singleProductCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
} */


.addToFave{
  font-size: 30px;
  color: rgb(243, 59, 59);

}
.productDetails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.TitleAndPrice{
  display: flex;
  gap: 2px;
  /* justify-content: center; */
  flex-direction: column;
}
.TitleAndPrice h1{
  margin: 0px;
  color: rgb(33, 46, 70);
}

.TitleAndPrice p{
  color: #a5a5a5;
}

.card{
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  /* box-shadow: 1px 1px 20px rgb(0, 0, 0); */
}

.productCorousel img {
  border-radius: 15px 15px 0px 0px;
  width: 300px;
}

.card:hover{
  scale: 105%;
  transition: 0.5s 0.1s linear;
}

.card:not(:hover){
  scale: 100%;
  transition: 0.5s 0.1s linear;
}

.categories{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  background: #282828;
}



.categories h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: clamp(26px, 4vw, 36px);
  color: #0077ff;
}

.shopByCategories{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.shopByCategories img{
    border-radius: 15px;
    width: 250px;
}

.shopByCategories h3{
  text-align: center;
  color: white;
}


.shopByCategories img:hover{
  scale: 105%;
  transition: 0.5s 0.1s linear;
}

.shopByCategories img:not(:hover){
  scale: 100%;
  transition: 0.5s 0.1s linear;
}

